{{#each domainAliases}}
  server {
    listen 80;
    server_name {{alias}};
    return 301 {{targetProtocol}}//{{target}}$request_uri;
  }

  server {
    listen 443;
    server_name {{alias}};
    return 301 {{targetProtocol}}//{{target}}$request_uri;
  }
{{/each}}

  server {
    listen 80;
    server_name {{targetHostname}};
    {{#if eq targetProtocol "https:"}}
    return 301 https://{{targetHostname}}$request_uri;
  }

  server {
    listen 443;
    server_name {{targetHostname}}
    {{/if}}

    client_max_body_size 500M;

    access_log /var/log/nginx/{{targetHostname}}.access.log;
    error_log /var/log/nginx/{{targetHostname}}.error.log;

    location {{appDownloadPath}} {
      root /var/www/;
      index index.html;
      try_files $uri $uri/ =404;
    }

    {{#each proxiedApps}}
    location {{appPath}} {
      proxy_pass http://localhost:{{internalPort}};
    }

    {{/each}}
    proxy_set_header X-Real-IP $remote_addr;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $host;

    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto https;
    proxy_redirect off;
  {{#if eq targetProtocol "https:"}}

    ssl on;
    ssl_certificate /etc/ssl/certs/sslhost.pem;
    ssl_certificate_key /etc/ssl/private/sslhost.key;

    ssl_verify_depth 3;

    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 5m;
    ssl_protocols SSLv3 TLSv1;
    ssl_ciphers ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv3:+EXP;
    ssl_prefer_server_ciphers on;
  {{/if}}
  }

